extends baseEmail

block content
  table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed', data-muid='hL6wjQ2qknNd5qDwT1p7Up', data-mc-module-version='2019-10-22')
    tbody
      tr
        td(style='\
        background-color: #000000;\
        padding: 10px 20px 10px 20px;\
        line-height: 40px;\
        text-align: justify;\
        ', height='100%', valign='top', bgcolor='#000000')
          div
            h1(style='text-align: center')
              span(style='color: #ffffff') Welcome to Errez Shop!
            div
  table.wrapper(role='module', data-type='image', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-muid='80300aa1-1168-44e7-968f-64ac8efe68cf')
    tbody
      tr
        td(style='font-size:6px; line-height:10px; padding:0px 0px 0px 0px;', valign='top', align='center')
          img.max-width(border='0', style='display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;', width='600', alt='', data-proportionally-constrained='true', data-responsive='true', src='https://fakestoreapi.com/icons/intro.svg')
  table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed', data-muid='qk51Jjn4bm3rn2Yb31Dxzb', data-mc-module-version='2019-10-22')
    tbody
      tr
        td(style='\
        background-color: #ffffff;\
        padding: 50px 50px 10px 50px;\
        line-height: 22px;\
        text-align: center;\
        ', height='100%', valign='top', bgcolor='#ffffff')
          div
            div(style='\
            font-family: inherit;\
            text-align: inherit;\
            ')
              span(style='\
              font-size: 24px;\
              font-family: verdana, geneva,\
              sans-serif;\
              ')
                strong #{firstName}, You've Joined A Place To Shop
            div
  table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-muid='iTBXe9c6QUCujvmJs8hYKr', data-mc-module-version='2019-10-22')
    tbody
      tr
        td(style='background-color:#ffffff; padding:40px 40px 40px 40px; line-height:22px; text-align:inherit;', height='100%', valign='top', bgcolor='#ffffff')
          div
            div(style='font-family: inherit; text-align: inherit')
              span(style='font-size: 16px; font-family: verdana, geneva, sans-serif')
                | With the power and help of the&nbsp;&copy;
              a(href='https://fakestoreapi.com/')
                span(style='font-size: 16px; font-family: verdana, geneva, sans-serif') Fake Store API
              span(style='font-size: 16px; font-family: verdana, geneva, sans-serif')
                | , you can own one of your favorite products: electronics, jewelery, clothing and more. Once you own it, you can harness that power and become the person that you always wanted to be.
            div(style='font-family: inherit; text-align: inherit')
              br
            div(style='font-family: inherit; text-align: inherit')
              span(style='font-size: 16px; font-family: verdana, geneva, sans-serif') Let's shop. Become the person you were meant to be. Own that power.
            div
  table.module(border='0', cellpadding='0', cellspacing='0', data-role='module-button', data-type='button', role='module', style='table-layout: fixed', width='100%', data-muid='qY8ouFUf6bFVP8tHkQ5gq7')
    tbody
      tr
        td.outer-td(align='center', bgcolor='#ffffff', style='\
        padding: 20px 20px 60px 20px;\
        background-color: #ffffff;\
        ')
          table.button-css__deep-table___2OZyb.wrapper-mobile(border='0', cellpadding='0', cellspacing='0', style='text-align: center')
            tbody
              tr
                td.inner-td(align='center', bgcolor='#ff1e5e', style='\
                border-radius: 6px;\
                font-size: 16px;\
                text-align: center;\
                background-color: inherit;\
                ')
                  a.button(style='\
                  background-color: #ff1e5e;\
                  border: 0px solid #505cc1;\
                  border-color: #505cc1;\
                  border-radius: 2px;\
                  border-width: 0px;\
                  color: #000000;\
                  display: inline-block;\
                  font-family: verdana, geneva,\
                  sans-serif;\
                  font-size: 16px;\
                  font-weight: normal;\
                  letter-spacing: 3px;\
                  line-height: 30px;\
                  padding: 12px 18px 12px 18px;\
                  text-align: center;\
                  text-decoration: none;\
                  border-style: solid;\
                  ', href=`${url}`, target='_blank') START SHOPPING!
  table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed', data-muid='iTBXe9c6QUCujvmJs8hYKr.1.1', data-mc-module-version='2019-10-22')
    tbody
      tr
        td(style='\
        padding: 15px 40px 40px 40px;\
        line-height: 22px;\
        text-align: inherit;\
        background-color: #ffffff;\
        ', height='100%', valign='top', bgcolor='#ffffff', role='module-content')
          div
            div(style='\
            font-family: inherit;\
            text-align: inherit;\
            ')
              span(style='\
              font-size: 16px;\
              font-family: verdana, geneva,\
              sans-serif;\
              ') Cheers,
            div(style='\
            font-family: inherit;\
            text-align: inherit;\
            ')
              span(style='\
              font-size: 16px;\
              font-family: verdana, geneva,\
              sans-serif;\
              ')
                | Elias Gutierrez, Errez Shop
                | Creator
            div
  table.module(role='module', data-type='divider', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-muid='a9a6f086-dc4a-4222-98ba-abc5516f3d5d')
    tbody
      tr
        td(style='padding:0px 39px 0px 39px;', role='module-content', height='100%', valign='top', bgcolor='')
          table(border='0', cellpadding='0', cellspacing='0', align='center', width='100%', height='1px', style='line-height:1px; font-size:1px;')
            tbody
              tr
                td(style='padding:0px 0px 1px 0px;', bgcolor='#000000')
  table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-muid='89f72495-0245-4564-a6ab-a22f72a2c419', data-mc-module-version='2019-10-22')
    tbody
      tr
        td(style='padding:15px 40px 15px 40px; line-height:22px; text-align:inherit;', height='100%', valign='top', bgcolor='', role='module-content')
          div
            div(style='font-family: inherit; text-align: inherit')
              span(style='font-size: 13px')
                | If you're having trouble with the button above, copy and paste the URL below into your web browser.
            div(style='font-family: inherit; text-align: inherit')
              br
            div(style='font-family: inherit; text-align: inherit')
              a(href=`${url}`)
                span(style='font-size: 13px; word-break: break-all') #{url}
            div
